.Row {
  height: calc(100vh - 210px);
}
.Input {
  background: transparent;
  box-sizing: border-box;
  text-align: center;
  padding: 25px !important;
  font-size: 18px !important;
 
}

/* .InputProps {
  background: transparent;
  border: 1px solid #f0f1f9;
  box-sizing: border-box;
  border-radius: 20px;
  color: transparent;
  text-align: center;
  
  
} */

.Header {
  font-style: normal;
  font-weight: 800 !important;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #5d5e61;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif !important;
}

.Header2 {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: capitalize;
  color: #8e9199;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif !important;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}

.Link span {
  color: #ff9254;
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}
